@font-face {
    font-family: altehaasgroteskregular;
    src: url(AlteHaasGroteskRegular.ttf);
  }

html {
    font-size: 20px;
    font-family: altehaasgroteskregular;
}

body {
    background-color: #000000;
    /*font-family: "Papyrus";*/
    color: #FFFFFF;
    display: flex;
    margin-top: 6rem;
    align-items: center;
    justify-content: space-between;
    padding: 10rem;
}

section {
    margin: 2rem;
    text-align: center;
}